<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>


	<servlet>
		<servlet-name>admin</servlet-name>
		<servlet-class>com.action.admin_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>specialty</servlet-name>
		<servlet-class>com.action.specialty_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>specialty</servlet-name>
		<url-pattern>/specialty</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>classes</servlet-name>
		<servlet-class>com.action.classes_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>classes</servlet-name>
		<url-pattern>/classes</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>tea</servlet-name>
		<servlet-class>com.action.tea_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tea</servlet-name>
		<url-pattern>/tea</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>course</servlet-name>
		<servlet-class>com.action.course_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>course</servlet-name>
		<url-pattern>/course</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>stu</servlet-name>
		<servlet-class>com.action.stu_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stu</servlet-name>
		<url-pattern>/stu</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>grades</servlet-name>
		<servlet-class>com.action.grades_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>grades</servlet-name>
		<url-pattern>/grades</url-pattern>
	</servlet-mapping>
	
	
	 
	
	<servlet>
		<servlet-name>tongji</servlet-name>
		<servlet-class>com.action.tongji_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tongji</servlet-name>
		<url-pattern>/tongji</url-pattern>
	</servlet-mapping>
	
	<servlet>
	   <servlet-name>report</servlet-name>
	   <servlet-class>com.action.report_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
	   <servlet-name>report</servlet-name>
	   <url-pattern>/report</url-pattern>
	</servlet-mapping>
	

	<servlet>
		        <servlet-name>dwr-invoker</servlet-name>    
        <servlet-class>
            org.directwebremoting.servlet.DwrServlet
        </servlet-class>
        <init-param>
            <param-name>crossDomainSessionSecurity</param-name>
            <param-value>false</param-value>
        </init-param>
         <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
		<init-param>
			<param-name>activeReverseAjaxEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>
				initApplicationScopeCreatorsAtStartup
			</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>maxWaitAfterWrite</param-name>
			<param-value>500</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		        <servlet-name>dwr-invoker</servlet-name>    
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>



	<filter>
		<filter-name>SetChartEncoding</filter-name>
		<filter-class>com.util.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SetChartEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
